* {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px auto;
  flex-wrap: wrap;
}

.pokemon-wrapper {
  margin: 25px;
}

#button-div {
  text-align: center;
}

button {
  background: #C00000;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  height: 40px;
  width: 200px;
}

button:hover {
  background: white;
  color: #C00000;
  border: 2px solid #C00000;
  cursor: pointer;
}
